<h2>Setup</h2>

<div class="container-fluid">
  <form class="row g-1 mb-1" id="recsys_form">
    <div class="col">
      <select
        class="form-control"
        name="selectedUserId"
        id="userId"
        aria-label="Select a client"
        placeholder="Select your client"
        required
      >
        <option selected>Select your Client</option>
        {% for user_id in users %}
        <option value="{{ user_id }}">{{ user_id }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-auto">
      <select
        class="form-control"
        id="numRec"
        name="numRec"
        placeholder="Number of Recommendations"
      >
        <option selected># items</option>
        <option>3</option>
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Ask</button>
    </div>
    
  </form>
</div>
